<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>CashFlow Teen</title>
</head>

<body>
  <div class="parent">
    <div class="panel">
      <div class="logocontainer">
        <img class="logo"></img>
      </div>
      <div class="links">
        <style>
          a {
            text-decoration: none;
            font-family: Sans-serif;
          }
          .meow{color: #FFFFFF; font-family: "Comic Sans MS"; padding-top: 10px; }
        </style>
        <a class="link" href="google.com">О нас</a>
        <a class="link" href="google.com">Новости</a>
        <a class="link" href="google.com">Главная</a>

      </div>
    </div>
    <div class="first">
      <!--       <div class="lol"> -->
      <div class="">
        <div class="textgreen tt1">
          <p class="text f">Устал от вопросов "А сколько у тебя денег?" </p>
        </div>
        <div class="center-text">
          <div class="textblue tt2">
            <p class="text">Хочешь сам решать, как тратить, копить и приумножать свои средства? CashFlow Teen — это твой ключ к финансовой независимости!</p>
          </div>
        </div>
<!--         <div style="float:right;top:10px;left:50%;"><ig src="slogan.png"</div> -->
      </div>
     
    </div>
    <div class="second" style="margin-top:50px">
      <!--       <div> -->
      <!--       <div class="lol"> -->
      <!--       <div style="max-width:40%"> -->
      <!--       <div class="title2"> -->
      <div style="max-width:70%; margin:0 auto;">
        <div class="textblue">
          <p class="text f">Вот три факта, которые доказывают важность финансовой грамотности:</p>
        </div>
      </div>
      <!--         </div> -->

      <div class="sect" style="margin:0 auto;">

        <div class="sect_text">
          <strong class="f">* 78%</strong>
        </div>
        <div class="sect_text">
          <strong class="f">* 34%</strong>
        </div>
        <div class="sect_text">
          <strong class="f">* 63%</strong>
        </div>
        <div class="sect_text">
          <p class="text textblue"> взрослых живут от зарплаты до зарплаты. Недостаток знаний о том, как управлять деньгами, приводит к постоянному стрессу и долгам.</p>
        </div>
        <div class="sect_text">
          <p class="text textblue"> людей ведут бюджет. Без планирования расходов легко потерять контроль над своими финансами и потратить больше, чем зарабатываешь.</p>
        </div>
        <div class="sect_text">
          <p class="text textblue"> молодых людей не уверены в своем финансовом будущем. Отсутствие финансовой грамотности приводит к страху и неуверенности в завтрашнем дне.</p>
        </div>
        <!--     </div> -->
        <p></p>
      </div>

      <div style="margin-top:150px">
        <p class="text textgreen f">Не будь частью статистики! Научись управлять своими деньгами и строить свое будущее с CashFlow Teen!</p>

      </div>
    </div>
    <div class="third">
      <b class="textblue f">Cash</b><b class="textpurple  f">Flow</b> <b class="f">Teen это:</b>
      <div class="sect2">
        <div class="img">
          llllllllll
          <p><img src="1.png"></img></p>
          
        </div>
        <div class="img">

        </div>
        <div class="img">

        </div>
        <div>
          <strong><p class="textpurple text f">
          	* Веселое и интерактивное обучение:
            </p></strong>
        </div>
        <div>
          <strong><p class="textpurple text f">
          	* Поддержка сообщества:
            </p></strong>
        </div>
        <div>
          <strong><p class="textpurple text f">
          	* Гибкий формат:
            </p></strong>
        </div>
        <div class="sect_text">
          <p class="textblue text"> Забудь о скучных лекциях! У нас ты найдешь игры, квесты и практические задания.</p>
        </div>
        <div class="sect_text">
          <p class="textblue text"> Забудь о скучных лекциях! У нас ты найдешь игры, квесты и практические задания.</p>
        </div>
        <div class="sect_text">
          <p class="textblue text"> Забудь о скучных лекциях! У нас ты найдешь игры, квесты и практические задания.</p>
        </div>
      </div>
    </div>
    <div class="fourth">
      <div class="textblue text mar w1">
        <p style="text-align:center" class="f">Мы предлагаем:</p>
      </div>
      <div class="sect3 w1 mar_top">
        <div class="sect-text w1">
          <p class="textpurple text f">* Интересные статьи и посты о финансах, инвестициях и экономике.</p>
        </div>
        <div class="sect-text w1">
          <p class="textpurple text f">* Практические советы и лайфхаки для управления деньгами.</p>
        </div>
        <div class="sect-text w1">
          <p class="textpurple text f">* Обучающие курсы и вебинары от экспертов.</p>
        </div>
        <div class="sect-text w1">
          <p class="textpurple text f">* Поддержку сообщества единомышленников.</p>
        </div>
      </div>
      <div>
        <img style="float:right">
      </div>
    </div>
    <div class="fifth" style="margin-top: 10px">
      <div class="">
        <b class="textblue f">Cash</b><b class="textpurple f">Flow</b> <b class="f">Teen</b>
      </div>
      <div class="textgreen w1 mar">
        <p class="text f">Your financial superpower!
          <p>
      </div>
    </div>
  </div>
  </div>
      <div class="sixth"><div><b class="meow text">Meow!</b></div></div></div>
  </div>
  <!--   </div> -->

  <script src="script.js"></script>
</body>

</html>